.container {
  display: flex;
  padding: 5rem;
}
.big-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.pad {
  padding: 2rem;
}
